<div class="sidebar">
    <div class="logo-details">
      <a href="/homepage"><img src="#" alt=""></a>
      <div class="logo_name">BoardHero </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <div class="character-info">
      <div class="character-image">
        <% user.elements.map(element => { %> 
          <% if (element.isEquipped === true) { %> 
          <div class="unique-image" style="background-image: url('<%= element.imagePath %>');"></div>
        <% }}) %>
        <div class="character-level">Lv. <p><%= user.character.char_level %></p></div>
      </div>
      <div class="characterprogress">
          <!-- <div class="progress mb-2">
            <div class="progress-bar progress-bar-striped bg-bhpurple" id="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
              <span class="char-exp">EXP <%= user.character.experience %>/100</span>
            </div>
          </div> -->
        <div id="character_coins">
        </div>
      </div>
    </div>
    <div class="sidebar-content">
      <ul class="nav-list" style="padding: 0 0;">
        <li>
          <a href="/homepage">
            <img src="/images/icons/tasks.svg" alt="">
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/inventory">
            <img src="/images/icons/chest.svg" alt="">
            <span class="links_name">Inventory</span>
          </a>
          <span class="tooltip">Inventory</span>
        </li>
        <li>
          <a href="/workspace/admintools">
            <img src="/images/icons/workspace.svg" alt="">
            <span class="links_name">Workspaces</span>
          </a>
          <span class="tooltip">Workspaces</span>
        </li>
        <li>
          <a href="/user/settings">
            <img src="/images/icons/gear.svg" alt="">
            <span class="links_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <div class="name"><%= user.first_name %></div>
              <div class="job"><%= user.position %></div>
            </div>
          </div>
          <a href="/user/logout">
            <i class='bx bx-log-out' id="log_out"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>