<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %> 
    <!-- CSS Links -->
    <%- include('./partials/bootstrap-css-head') %>    
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div>
      <%- include('./partials/sidebar') %>

      <div class="home-section">
        <%- include('./partials/navbar') %>

        <main>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <h2>Requested</h2>

                <div class="col-md-12 tasks-dashboard">
                  <div style="display: flex; align-items: flex-end">
                    <input type="text" placeholder="Task name" />
                    <button
                      type="submit"
                      style="height: 1.75rem; margin-left: 1rem; margin-top: 0"
                    >
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                    </button>
                  </div>
                  <div>
                    <p>#tags #tags #tags</p>
                  </div>
                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: flex-end;
                    "
                  >
                    <button type="submit">Start</button>
                    <img
                      src="/images/icons/alert.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <h2>In Progress</h2>
                <div class="col-md-12 tasks-dashboard">
                  <div class="box">
                    <div class="tasks-dashboar-button-align-info">
                      <input type="text" placeholder="Task name" />
                      <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                      </button>
                    </div>
                    <div>
                      <p>#tags #tags #tags</p>
                    </div>
                    <div>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                    <div
                      style="
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        height: 3.5rem;
                      "
                    >
                      <img
                        src="/images/icons/alert2.svg"
                        alt=""
                        width="40"
                        height="40"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <h2>Done</h2>
                <div class="col-md-12 tasks-dashboard">
                  <div style="display: flex; align-items: flex-end">
                    <input type="text" placeholder="Task name" />
                    <button
                      type="submit"
                      style="height: 1.75rem; margin-left: 1rem; margin-top: 0"
                    >
                    <span class="d-block d-lg-none">+</span>
                    <span class="d-none d-lg-block">+ Info</span>
                    </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      height: 3.5rem;
                    "
                  >
                    <img
                      src="/images/icons/alert3.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard">
                  <div class="tasks-dashboar-button-align-info">
                    <input type="text" placeholder="Task name" />
                    <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                     </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: flex-end;
                    "
                  >
                    <button type="submit">Start</button>
                    <img
                      src="/images/icons/alert.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard submit">
                  <div class="tasks-dashboar-button-align-info">
                    <input type="text" placeholder="Task name" />
                    <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>                     
                      </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      height: 3.5rem;
                    "
                  >
                    <img
                      src="/images/icons/alert2.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard">
                  <div class="tasks-dashboar-button-align-info">
                    <input type="text" placeholder="Task name" />
                    <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                    </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      height: 3.5rem;
                    "
                  >
                    <img
                      src="/images/icons/alert3.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard">
                  <div style="display: flex; align-items: flex-end">
                    <input type="text" placeholder="Task name" />
                    <button
                      type="submit"
                      style="height: 1.75rem; margin-left: 1rem; margin-top: 0"
                    >
                    <span class="d-block d-lg-none">+</span>
                    <span class="d-none d-lg-block">+ Info</span>
                    </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: flex-end;
                    "
                  >
                    <button type="submit">Start</button>
                    <img
                      src="/images/icons/alert.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard">
                  <div class="tasks-dashboar-button-align-info">
                    <input type="text" placeholder="Task name" />
                    <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                      </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      height: 3.5rem;
                    "
                  >
                    <img
                      src="/images/icons/alert2.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 tasks-dashboard">
                  <div class="tasks-dashboar-button-align-info">
                    <input type="text" placeholder="Task name" />
                    <button type="submit">
                      <span class="d-block d-lg-none">+</span>
                      <span class="d-none d-lg-block">+ Info</span>
                      </button>
                  </div>

                  <div>
                    <p>#tags #tags #tags</p>
                  </div>

                  <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>

                  <div
                    style="
                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-end;
                      height: 3.5rem;
                    "
                  >
                    <img
                      src="/images/icons/alert3.svg"
                      alt=""
                      width="40"
                      height="40"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <footer></footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <%- include('./partials/bootstrap-js-scripts') %>

  </body>
</html>
