<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Settings and Fonts -->
  <%- include('./partials/head-general-settings') %>    
  <!-- CSS Links -->
  <%- include('./partials/bootstrap-css-head') %>    
  <title>Board Hero | Home Page</title>
</head>

<body>
    <%- include('./partials/sidebar') %>

    <section class="home-section" >
        <%- include('./partials/navbar') %>
        <div class="home-content">
          Dashboard
          <%- include('./partials/button-add') %>
        </div>
    </section>

  <%- include('./partials/bootstrap-js-scripts') %>
</body>
</html>