<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Settings and Fonts -->
  <%- include('./partials/head-general-settings') %>  
  <!-- CSS Links -->  
  <%- include('./partials/bootstrap-css-head') %>

  <!-- <link rel="stylesheet" href="/stylesheets/sidebars.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> -->

  <title>Board Hero | Home Page</title>
</head>

<body>
  <div class="global">
    <%- include('./partials/sidebar') %>

    <div class="col_contentpage">
        <%- include('./partials/navbar') %>
    </div>
  </div>

  <%- include('./partials/bootstrap-js-scripts') %>

</body>
</html>