<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <%- include('./partials/bootstrap-css-head') %>
    <link rel="stylesheet" href="/stylesheets/inventory-store.css" />
    <title>Inventory | Board Hero</title>
  </head>

  <body>
    <div class="global">
      <%- include('./partials/sidebar') %>

      <div class="home-section">
        <main>
          <div class="container-inventory-store">
            <div class="container-inventory">
              <h2>Inventory</h2>

              <div class="character-image">
                <% user.elements.map(element => { %> 
                  <div class="unique-image" style="background-image: url('<%= element %>');"></div>
                <% }) %> 
              </div>

              <h3>Items</h3>
              <div class="items-list">
                <div class="item">
                  <img src="/images/clothing-items/dress/dress1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/eyes/eyes1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/glasses/glass1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/hair/hair1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/hair/hair2.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/hair/hair-back1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/mouth/mouth1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/shield/shield1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/sword/sword1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
                <div class="item">
                  <img src="/images/clothing-items/tie/tie1.png" alt="" />
                  <p class="item-description">ITEM</p>
                </div>
              </div>

              <div class="badges">
                <h3>Badges</h3>
                <div class="items-list">
                  <div class="item">
                    <img src="/images/clothing-items/dress/dress1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                  <div class="item">
                    <img src="/images/clothing-items/eyes/eyes1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-store">
              <h2>Store</h2>

              <% for (let i = 0; i < 3; i++) { %>
                <div class="items-list">
                  <div class="item">
                    <img src="/images/clothing-items/dress/dress1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                  <div class="item">
                    <img src="/images/clothing-items/eyes/eyes1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                  <div class="item">
                    <img src="/images/clothing-items/glasses/glass1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                  <div class="item">
                    <img src="/images/clothing-items/hair/hair1.png" alt="" />
                    <p class="item-description">ITEM</p>
                  </div>
                </div>
              <% } %> 
          </div>
        </main>
      </div>
    </div>

    <%- include('./partials/bootstrap-js-scripts') %>
  </body>
</html>
